:root {
  --background-secondary: #393939 !important;
  --interactive-normal: #cccccc !important;
  --background-primary: #2d2d2d !important;
  --interactive-active: #99cc99 !important;
  --accent: #6699cc !important;
  --interactive-hover: #f99157 !important;
}
:root html {
  --brand-experiment: #6699cc !important;
  --brand-experiment-560: var(--brand-experiment) !important;
}
.circleIconButton-1VxDrg {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

