:root {
  --accent: #81a2be !important;
  --background-primary: #1d1f21 !important;
  --interactive-active: #b5bd68 !important;
  --interactive-normal: #c5c8c6 !important;
  --interactive-hover: #f0c674 !important;
  --background-secondary: #282a2e !important;
}
:root html {
  --brand-experiment: #81a2be !important;
  --brand-experiment-560: var(--brand-experiment) !important;
}
.circleIconButton-1VxDrg {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
